<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aldofrankmarco.shak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="org.aldofrankmarco.shak.profile.controllers.ImageViewerActivity" />
        <activity android:name="org.aldofrankmarco.shak.profile.controllers.MapsActivity" />
        <activity
            android:name="org.aldofrankmarco.shak.authentication.controllers.ConnectionProblems"
            android:label="@string/title_connection_problems"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.aldofrankmarco.shak.streams.controllers.LoggedUserActivity"
            android:label="@string/title_activity_logged_user"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name="org.aldofrankmarco.shak.profile.controllers.SendMailActivity"
            android:label="@string/title_send_mail"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.aldofrankmarco.shak.authentication.controllers.AccessActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.aldofrankmarco.shak.authentication.controllers.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>